@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-brand: #df1313;
  --color-brand-dark: #8a1717;
  --color-primary: #1363df;
  --color-blush: #ffe9ea;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #111;
  overflow-x: hidden;
}

section[id] {
  scroll-margin-top: 80px;
}
